@floriday:registry=https://pkgs.dev.azure.com/royalfloraholland/_packaging/Training/npm/registry/
@cai:registry=https://pkgs.dev.azure.com/royalfloraholland/_packaging/Training/npm/registry/

always-auth=true
